@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
  margin: 30px;
  color: white;
  background-color: black;
  text-align: center;
  font-family: 'Press Start 2P';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.borderBox {
    border: 2px dashed white;
    width: 40%;
    padding:30%;
    margin-left: 30%;
    padding: 5px;
    overflow: hidden;
    list-style-type: square;
    
}
.paragraph{
  font-size: 15px;
}

.bomb {
 height: 75px;
}

button, input, textarea {
  font-family: 'Press Start 2P';
  margin: 5px;
  padding: 7px;
  text-align: center;
}

.button {
  padding: 10px;
  background-color: white;
}

.btnsubmit {
  background-color: red;
  color: white;
}

.btndetails {
  background-color: blue;
  color: white;
}

.likeButton{
  padding-top:-20px;
  width: 50px;
  height: 50px;
}
.dislikeButton{
  width: 50px;
  height: 50px;
}

.time-stamp{
font-size: x-small;
}
